@import "vars";
@import "mixins";

// sample start
.require {
  color: #f00;
}

.boardBox {
  border-top: 2px solid $text-color;
  margin-top: 100px;
  .info {
    line-height: 1.5;
    padding: 50px 0;
  }
}
.board {
  width: 100%;
  color: $hover-color;
  th {
    text-align: left;
    // background-color: chartreuse;
    &.inputData {
      vertical-align: top;
    }
    &.even {
      padding-left: 50px;
    }
  }
  // td {
  // background-color: cornflowerblue;
  // }
  th,
  td {
    padding: 20px 10px;
  }
  input[type="text"],
  textarea {
    border: none;
    border-bottom: 1px solid darken($gray-color, 20);
    width: 100%;
    height: 40px;
    outline: none;
    transition: 0.3s ease;
    &:focus,
    &:hover {
      border-bottom-color: $text-color;
    }
  }
  select {
    height: 40px;
    border: none;
    width: calc(4 / 9 * 100%);
    appearance: none;
    background: url(../images/common/expand_more_black_24dp.svg) right 20px top
      50% no-repeat;
    // &:after {
    //   display: block;
    //   font-family: "Material Icons";
    //   content: "expand_more";
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   z-index: 2;
    // }
  }
  .address {
    .addr01 {
      width: calc(4 / 9 * 100%);
      display: flex;
      margin-bottom: 15px;
      button {
        margin-left: 10px;
        white-space: nowrap;
        border: 2px solid $main-color;
        padding: 0 20px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        span {
          margin-right: 15px;
        }
      }
    }
    .addr02 {
      display: flex;
      justify-content: space-between;
      .readonly {
        width: 80%;
        margin-right: 10px;
        box-sizing: border-box;
      }
      .etc {
        width: calc(100% - 50px);
        flex-grow: 0;
      }
    }
    .readonly {
      color: $hover-color;
      border: none;
      background-color: $border-color;
      border-radius: 5px;
      padding: 0 10px;
      justify-content: space-between;
    }
  }
  textarea {
    height: 300px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
  }
}

.agreeBox {
  display: flex;
  padding: 50px 0;
  margin-top: 50px;
  border-top: 1px solid $border-color;
  justify-content: space-between;
  align-items: flex-start;
  .agree .show {
    display: flex;
    margin-bottom: 20px;
    button {
      font-size: $normal-size;
      margin-left: 20px;
      padding: 5px 20px;
      background-color: $text-color;
      border-radius: 100px;
      color: $white-color;
    }
  }
  .submit {
    padding: 20px 50px;
    background-color: $text-color;
    color: $white-color;
    border-radius: 100px;
  }
}

// .checkbox {
//   display: flex;
//   input {
//     display: none;
//   }
//   input:checked ~ .label::before {
//     background-color: $main-color;
//     border: none;
//     color: $white-color;
//     content: "\2713";
//     @include longShadow(darken($main-color, 20), right, 10);
//   }
//   .label {
//     display: flex;
//     align-items: center;
//     user-select: none;
//     &:before {
//       content: "";
//       @include flexCenter();
//       width: 24px;
//       height: 24px;
//       overflow: hidden;
//       border: 2px solid $border-color;
//       margin-right: 5px;
//       border-radius: 3px;
//     }
//   }
// }
// sample end

// FAQ start
.faqBox {
  ul {
    li {
      &.on {
        dd {
          display: block;
        }
        dt {
          .icon:before {
            transform: rotate(45deg);
            background-color: $main-color;
          }
          .icon:after {
            transform: rotate(-45deg);
            background-color: $main-color;
          }
        }
      }
      dt {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $gray-color;
        cursor: pointer;
        &:hover {
          .icon:before,
          .icon:after {
            background-color: $main-color;
          }
        }
        .category {
          display: block;
          height: 100px;
          width: 150px;
          @include flexCenter();
          padding: 30px 50px;
        }
        .icon {
          margin-left: auto;
          width: 100px;
          height: 100px;
          position: relative;
          &:before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: #000;
            top: 50%;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            transform: rotate(-45deg);
            transition: 0.3s ease;
          }
          &:after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: #000;
            top: 50%;
            position: absolute;
            right: 50%;
            margin-right: -3px;
            transform: rotate(45deg);
            transition: 0.3s ease;
          }
        }
      }
      dd {
        display: none;
        background-color: $gray-color;
        padding: 50px 50px 50px 250px;
        line-height: 1.5;
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}
// FAQ end

// call start
.callBox {
  margin-top: 50px;
  padding-top: 50px;
  .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .callCard {
      width: 33.3333%;
      border: 1px solid $border-color;
      box-sizing: border-box;
      padding: 40px;
      .work {
        font-size: $h4;
        &:after {
          content: "";
          display: block;
          width: 50px;
          height: 2px;
          background-color: $main-color;
          margin: 30px 0 15px;
        }
      }
      div {
        position: relative;
        line-height: 2;
        .name {
          font-size: $medium-size;
        }
        .call {
          font-size: $large-size;
          font-weight: 500;
        }
        img {
          position: absolute;
          bottom: 0px;
          right: 0px;
        }
      }
    }
  }
}
// call end
