/*다크모드 지정을 위한 색 변수 지정*/
:root {
    --color1: #FFEEE4; /*배경(뒤쪽배경)*/
    --color2: #ffffff; /*흰색(메인박스 바탕, 질문지글상자)*/
    --color3: #000000; /*검정(기본글, 좋아요, 공유하기, 다시하기)*/
    --color4: #EDEDED; /*라이트그레이(질문지바탕)*/
    --color5: #0080FF; /*파랑(시작버튼)*/
    --color6: #0080FF; /*파랑(태그글)*/
    --color7: #E0E3DA; /*라이트그레이 좀더진함(메인박스 테두리)*/
    --color8: #FFFFFF; /*답지 글상자*/
    --value1: invert(0%);
}

:root.dark {
    --color1: #121212; /*배경(뒤쪽배경)*/
    --color2: #3F4040; /*진회색(메인박스 바탕, 질문지글상자)*/
    --color3: #FFFFFF; /*흰색(기본글, 좋아요, 공유하기, 다시하기)*/
    --color4: #5E5E5F; /*그레이(메인박스 테두리,질문지바탕)*/
    --color5: #45D9FD; /*파랑(시작버튼)*/
    --color6: #45D9FD; /*파랑(태그글)*/
    --color7: #5E5E5F; /*라이트그레이 좀더진함(메인박스 테두리)*/
    --color8: #5E5E5F; /*답지 글상자*/
    --value1: invert(100%);
}
/*======================================*/

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: var(--color3);
}

body {
    background-color: var(--color1);
}

.main_block {
    position: relative;
    width: 491px;
    height: 872px;
    margin: 30px auto 0 auto;
    background: var(--color2);
    border: 1px solid var(--color7);
    box-sizing: border-box;
}

.profile {
    position: absolute;
    width: 47px;
    height: 45px;
    left: 15px;
    top: 16px;
    border-radius: 100px;
}

.username {
    position: absolute;
    width: 194px;
    height: 41px;
    left: 83px;
    top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.more {
    position: absolute;
    width: 28px;
    height: 18px;
    left: 443px;
    top: 27px;
    filter: var(--value1)
}

.mainpic {
    position: absolute;
    width: 489px;
    height: 557px;
    top: 162px;
    margin: auto;
    display: block;
    z-index: 2;
}

.result {
    position: absolute;
    width: 489px;
    height: 648px;
    left: 0;
    top: 71px;
    background: rgba(0, 0, 0, 0.05);
}

.ans {
    position: absolute;
    width: 35px;
    height: 54px;
    left: 53px;
    top: 20px;
    font-family: 'Jua', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.recommend {
    position: absolute;
    width: 370.86px;
    height: 48px;
    left: 105.14px;
    top: 20px;
    font-family: 'Jua', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
}

.card {
    position: absolute;
    width: 489px;
    height: 500px;
    left: 0;
    top: 110px;
    background-color: transparent;
    border-color: transparent;
}

.map {
    background-color: #0080FF;
    position: absolute;
    left: 40px;
    z-index: 1;
    border-radius: 10px;
    visibility: hidden;
}

.cardbox {
    width: 388.69px;
    height: 143.5px;
    background: var(--color8);
    border-radius: 30px;
    margin: 10px auto;
}

.num {
    width: 45px;
    height: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #ffffff;
    -webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: #c5c6b6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
    float: left;
}

.content {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: var(--color3);
    margin: 20px 0;
    float: left;
}

.content-img {
    width: 100px;
    height: 125px;
    float: right;
    margin: 9px 20px;
}

.bottom {
    position: relative;
    font-size: 18px;
    width: 485px;
    height: 110px;
    margin-top: 73px;
    padding: 0 15px 0 15px;
    top: 670px;
}

.logo {
    margin: 5px;
}

.liketext {
    position: absolute;
    width: 96px;
    height: 23px;
    left: 20px;
    margin-top: 9px;
    font-size: 18px;
}

.comment {
    position: absolute;
    width: 350px;
    height: 45px;
    left: 116px;
    margin-top: 9px;
    font-size: 18px;
    color: var(--color6);
}

.breathe {
    position: absolute;
    width: 30px;
    height: 35px;
    top: 748px;
    left: 134px;
    visibility: hidden;

}

#paperplane, #toggleDark {
    cursor: pointer
}

.box {
    width: 423px;
    height: 54px;
    top: 20px;
    left: 46px;
}

.genre {
    color: var(--color6);
}

#heart {
    filter: var(--value1)
}

#return {
    filter: var(--value1);
}

#share {
    filter: var(--value1);
}

.placeInfo {
    position: absolute;
    bottom: 40px;
    line-height: 22px;
    text-align: center;
    left: -50px;
    margin-left: auto;
    background: #ffffff;
    color: #000000;
    border-radius: 3px;
    border: 0.5px solid black;
    padding: 2px;
    font-size: 13px;
}