/*다크모드 지정을 위한 색 변수 지정*/
:root {
    --color1: #FFEEE4; /*배경(뒤쪽배경)*/
    --color2: #ffffff; /*흰색(메인박스 바탕, 질문지글상자)*/
    --color3: #000000; /*검정(기본글, 좋아요, 공유하기, 다시하기)*/
    --color4: #EDEDED; /*라이트그레이(질문지바탕)*/
    --color5: #0080FF; /*파랑(시작버튼)*/
    --color6: #0080FF; /*파랑(태그글)*/
    --color7: #E0E3DA; /*라이트그레이 좀더진함(메인박스 테두리)*/
    --color8: #FFFFFF; /*답지 글상자*/
    --value1: invert(0%);
}

:root.dark {
    --color1: #121212; /*배경(뒤쪽배경)*/
    --color2: #3F4040; /*진회색(메인박스 바탕, 질문지글상자)*/
    --color3: #FFFFFF; /*흰색(기본글, 좋아요, 공유하기, 다시하기)*/
    --color4: #5E5E5F; /*그레이(메인박스 테두리,질문지바탕)*/
    --color5: #45D9FD; /*파랑(시작버튼)*/
    --color6: #45D9FD; /*파랑(태그글)*/
    --color7: #000000; /*라이트그레이 좀더진함(메인박스 테두리)*/
    --color8: #5E5E5F; /*답지 글상자*/
    --value1: invert(100%);
}
/*======================================*/

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: var(--color3);
}

body {
    background-color: var(--color1);
}

.main_block {
    position: relative;
    width: 491px;
    height: 872px;
    background: var(--color2);
    border: 1px solid var(--color7);
    box-sizing: border-box;
    margin: 30px auto 0 auto;
}

.profile {
    position: absolute;
    width: 47px;
    height: 45px;
    left: 15px;
    top: 16px;
    border-radius: 100px;
}

.username {
    position: absolute;
    width: 194px;
    height: 41px;
    left: 83px;
    top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.openmore {
    position: absolute;
    width: 28px;
    height: 18px;
    left: 443px;
    top: 27px;
    filter: var(--value1)
}

.mainpic {
    position: absolute;
    width: 489px;
    height: 379px;
    top: 73px;
    margin: auto;
    display: block;
}

.heartpic {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 19px;
    top: 473px;
    filter: var(--value1);

}

.speechbub {
    position: absolute;
    width: 30px;
    height: 35px;
    left: 69px;
    top: 473px;
}

.paperplane {
    position: absolute;
    width: 30px;
    height: 35px;
    left: 113px;
    top: 473px;
}

.bookmark {
    position: absolute;
    width: 41px;
    height: 30px;
    left: 440px;
    top: 470px;
}

.liketext {
    position: absolute;
    width: 175px;
    height: 23px;
    left: 19px;
    top: 521px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.username2 {
    position: absolute;
    width: 113px;
    height: 46px;
    left: 19px;
    top: 544px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.tagtitle {
    position: absolute;
    width: 357px;
    height: 46px;
    left: 123px;
    top: 557px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: var(--color6);
}

.morepage {
    position: absolute;
    width: 113px;
    height: 46px;
    left: 237px;
    top: 570px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--color3);
    clip: rect(0 0 0 0);
}

.startbtn {
    position: absolute;
    width: 457px;
    height: 78px;
    left: 19px;
    top: 642px;
    border-radius: 10px;
    font-size: 35px;
}

.readmore {
    position: absolute;
    width: 113px;
    height: 46px;
    left: 237px;
    top: 570px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7C7877;
}

.hiddentag {
    position: absolute;
    width: 113px;
    height: 46px;
    left: 237px;
    top: 570px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--color6);
    white-space: nowrap;
    visibility: hidden;
}

.breathe {
    position: absolute;
    width: 30px;
    height: 35px;
    left: 133px;
    top: 473px;
    visibility: hidden;
}

#heart, #toggleDark {
    color: var(--color3);
}
