#main { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100vh; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .scene { width: 1200px; height: 550px; -webkit-perspective: 1000px; perspective: 1000px; }

#main .scene .carousel { width: 100%; height: 100%; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }

#main .scene .carousel .face { opacity: 0.5; position: absolute; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; background-color: #111; font-size: 36px; font-weight: 700; }

#main .scene .carousel .face:nth-child(10n+1) { background-color: #88ff00; }

#main .scene .carousel .face:nth-child(10n+2) { background-color: #0077ff; }

#main .scene .carousel .face:nth-child(10n+3) { background-color: #ff00bf; }

#main .scene .carousel .face:nth-child(10n+4) { background-color: #00ffdd; }

#main .scene .carousel .face:nth-child(10n+5) { background-color: #5eff00; }

#main .scene .carousel .face:nth-child(10n+6) { background-color: #00ff40; }

#main .scene .carousel .face:nth-child(10n+7) { background-color: #85520f; }

#main .scene .carousel .face:nth-child(10n+8) { background-color: #040b49; }

#main .scene .carousel .face:nth-child(10n+9) { background-color: #42410b; }

#main .scene .carousel .face:nth-child(10n+10) { background-color: #ff8888; }

#bgParticle { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 5%) #333; }

.pagination { position: absolute; bottom: 50px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.pagination button { cursor: pointer; }

.pagination .material-icons { color: #fff; font-size: 48px; }
