@import "vars";
@import "mixins";

img {
  vertical-align: top;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 32px;
    margin: 100px 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    span {
      display: block;
      &.sub {
        font-size: $medium-size;
        margin-top: 20px;
      }
    }
  }
  #com {
    margin-bottom: 50px;
    ul {
      display: flex;
      li {
        user-select: none;
      }
    }
  }
  #player {
    ul {
      display: flex;
      &.prevent {
        pointer-events: none;
      }
      li {
        user-select: none; // 드래그 막아주기
        margin: 0 10px;
        border: 5px solid transparent;
        border-radius: 100%;
        &.on {
          border-color: #333;
        }
        img {
          width: 80px;
        }
      }
    }
  }
  #result {
    margin-top: 50px;
    ul {
      display: flex;
      justify-content: center;
      li {
        font-weight: 500;
        width: 50px;
        height: 50px;
        color: #fff;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        align-items: center;
        overflow: hidden;
        margin: 0 5px;
        &.win {
          background-color: blue;
          @include longShadow(darken(blue, 20), right, 40);
        }
        &.lose {
          background-color: red;
          @include longShadow(darken(red, 20), right, 40);
        }
        &.draw {
          background-color: gray;
          @include longShadow(darken(gray, 20), right, 40);
        }
      }
    }
  }
}

#cover {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 50px;
  }
  button {
    padding: 40px 80px;
    border-radius: none;
    outline: none;
    background-color: rgb(9, 255, 0);
    overflow: hidden;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    box-sizing: 0 20px 0 darken(rgb(9, 255, 0), 10);
  }
}
