.title { font-size: 4.8rem; margin-bottom: 30px; }

#main #mainVisual { position: relative; overflow: hidden; }

#main #mainVisual .video { width: 100%; height: 100vh; -o-object-fit: cover; object-fit: cover; z-index: -1; }

#main #mainVisual .copy { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; }

#main #mainVisual .copy .main { left: 50px; top: 50px; font-size: 6.4rem; margin-bottom: 30px; line-height: 1.2; }

#main #mainVisual .copy .sub { font-size: 18px; line-height: 2; }

#main #news { padding: 50px; }

#main #news .newsList { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#main #news .newsList li { width: 32%; border: 1px solid #d9d9d9; border-radius: 20px; overflow: hidden; }

#main #news .newsList li .imgBox { overflow: hidden; }

#main #news .newsList li .imgBox img { width: 100%; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

#main #news .newsList li .imgBox img:hover { -webkit-transform: scale(1.2); transform: scale(1.2); }

#main #news .newsList li .txtBox { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

#main #news .newsList li .txtBox .date { color: #bf0c14; margin-bottom: 10px; }

#main #news .newsList li .txtBox .newsTitle { font-size: 2rem; margin-bottom: 20px; }

#main #news .newsList li .txtBox .detail { font-size: 14px; }

#main #product { height: 860px; padding: 50px 0; }

#main #product .proVisual .proList { background-color: #333; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main #product .proVisual .proList li { padding: 0 20px; }

#main #product .proVisual .proList li a { font-size: 3.2rem; line-height: 2; }

#main #product .proVisual .imgList { width: 100%; position: relative; }

#main #product .proVisual .imgList li { width: 100%; height: 800px; position: absolute; left: 0; right: 0; opacity: 0; -webkit-transition: 0.3s ease; transition: 0.3s ease; background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #product .proVisual .imgList li.view { opacity: 1; z-index: 5; }

#main #product .proVisual .imgList li .copy { position: absolute; left: 20%; top: 40%; color: #fff; text-shadow: 5px 5px 3px #333; }

#main #product .proVisual .imgList li .copy .main { font-size: 4.8rem; margin-bottom: 15px; }

#main #product .proVisual .imgList li .copy .sub { font-size: 18px; }

#main #product .proVisual .imgList li:nth-child(1) { background-image: url(../images/slider/slider_kena.jpg); opacity: 1; }

#main #product .proVisual .imgList li:nth-child(2) { background-image: url(../images/slider/slider_first.jpg); }

#main #product .proVisual .imgList li:nth-child(3) { background-image: url(../images/slider/slider_inscription.jpg); }

#main #product .proVisual .imgList li:nth-child(4) { background-image: url(../images/slider/slider_luntera.jpg); }

#main #product .proVisual .imgList li:nth-child(5) { background-image: url(../images/slider/slider_bg.jpg); }

#main #media { padding: 40px 0; }

#main #media h3 { font-size: 2rem; }

#main #media .mediaSlides li { width: 100vw; height: 800px; }

#main #media .mediaSlides li.slide01 { background-image: url(../images/slider/slider_in_to_the_eco.jpg); background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #media .mediaSlides li.slide02 { background-image: url(../images/slider/pierre-raveneau-ack-valka-4.jpg); background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #media .mediaSlides li.slide03 { background-image: url(../images/slider/slider_cave.jpg); background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #media .mediaSlides li.slide04 { background-image: url(../images/slider/slider_kena.jpg); background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #media .mediaSlides li.slide05 { background-image: url(../images/slider/slider_luntera.jpg); background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #media .swipeTool { margin-top: 15px; height: 50px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; position: relative; padding: 0 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main #media .swipeTool .pagination { margin: 0 20px; width: 88%; height: 5px; background-color: rgba(0, 0, 0, 0.3); top: calc(50% - 5px); }

#main #media .swipeTool .swipe { margin: 15px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #d9d9d9; position: relative; }

#main #media .swipeTool .swipe img { display: block; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
